<div class="card">
    <div class="card-header text-muted">Policies

    </div>
    <div class="card-body">

        <div>
            <div class="container">

                <table class="table  table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>LIC Policies</th>
                            <th>Entry Age</th>
                            <th>Maximum Maturity</th>
                            <th>Policy Term </th>
                            <th>Minimum Premium/Purchase Price </th>
                            <th>Minimum Sum Assured Term </th>
                        </tr>

                    </thead>
                    <tbody ng-repeat="policy in policyList">
                        <tr>
                            <td class="getPolicyDetails"><a  style="color:blue" data-toggle="collapse"
                                    data-target="#{{policy.name}}"  ng-click="getPolicyDetails(policy.id)">{{policy.name}}</a></td>
                            <td>{{policy.entryage}} </td>
                            <td>{{policy.maturityage}}</td>
                            <td>{{policy.policyterm}}</td>
                            <td>{{policy.minimumpremium}}</td>
                            <td>{{policy.sumassured}}</td>

                        </tr>
                        <tr ng-show="true">
                            <td colspan="5">
                                <span id="{{policy.name}}" class="collapse">
                                    <!-- Or let Bootstrap automatically handle the layout -->
                                    <div class="row">
                                        <div class="col-12">text to be display</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">here will show</div>

                                    </div>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="card-footer" ng-show="policyObj.showFlag">


        <div class="card">
            <div class="card-header">Header</div>
            <div class="card-body">Content</div>
            <div class="card-footer">Footer</div>
        </div>
    </div>
</div>